/* 
.btn-outline-primary{
    color: #765DA0 !important;
    background-color: #765DA0 !important;
} */


  
@media screen and (max-width: 767px) {
    .mobile {

        font-size: 12px !important;
    }
    .mobile-text{
        font-size: 20px !important;
        display: inline-block;
    }
}