.card {
  margin: 0 auto;
  float: none;
  margin-top: 1rem;
}

.post-profile-image {
  height: 3rem;
}

.post-header-text {
  text-align: left;
}

.post-club-name,
.post-subtext {
  margin-bottom: 0;
}

.post-subtext {
  font-size: 12px;
}

.card-post-content {
  text-align: left;
}

.post-like-icon {
  height: 1.5em;
  margin: 0.5em;
}

.post-like-icon:hover {
  cursor: pointer;
}

.post-title,
.post-club-name {
  font-weight: 600 !important;
}

.card-header {
  background-color: #e4e0ee !important;
}